.aboutcard-img {
    width: 100%;
    height: 100%;
}

.aboutcard-img-container {
    height: 100%;
    width: auto;
    background-image: url("../images/aboutcard-img-background.svg");
    background-size: 100% 100%;
}
