.aboutcard-img {
    width: 40vh;
    height: 40vh;
}

.aboutcard-img-container {
    height: 100%;
    width: auto;
    background-image: url("../images/aboutcard-img-background.svg");
    background-size: 100% 100%;
}
